.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 60vh;
    padding: 1rem;
}

.address {
    font-style: normal;
}

.footer__subheading {
    /* se subheading comp */
}

.footer__text {
    font-size: var(--standardFontSize);
    color: var(--whiteColor);
    font-weight: 300;
}

.small {
    color: var(--whiteColor);
}


@media screen and (min-width: 700px) {

    .footer {
        width: 80%;
        height: 500px ;
        text-align: center;
        margin: auto;
        padding: 2rem 0;
        padding-top: 6rem;
    }

    .address {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 6rem;
    }

    .footer-wrapper {
        width: 20%;
    }

}

